*{
	margin: 0px;
	padding: 0px;

}

.container{
	background-image: url('images/rectangle_1.jpg');
	height: 830px;
	width: 100%;


}
ul {
  list-style-type: none;
  margin: 0;
  
  overflow: hidden;
  float: right;

 
}
li{
  list-style-type: none;
}
.col-9 li {
  float: left;
}
.col-3 li{
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
.col-3 li sub {
  color: red;
  font-size: 20px;
  margin-top: 30px; 

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  color: red;
}
.headline{
  text-align: center;
  color: white;
  font-weight: bold;
  margin-top: 50px;
  

}

.button{
  margin-left: 120px;
}
#b1{
  background-color: #fb414e;

}

a:link{
  color: red;
}
.text-center{
  margin-top: 100px;
}

#contents{
  height: 100px;
  width: 50%;
  margin: auto;
 
}
#contents1{
  margin: auto;
  margin-top: 30px;

  
}

.main-2{
  height: 400px;
  margin-top:480px;

  
}
#box1{

  background-color: #fb414e;
  display: inline;
  color: white;
  height: 250px;
  margin-left: 130px;

}
#box2{
  background-color:#202B30;
  display: inline;
  color: white;
  margin-left: 10px;
}

#box1 img{
  height: 30px;
  width: 30px;
  margin-top: 40px;
  margin-left: 10px;

 
}
#box1 p:nth-child(2){
  margin-top: 10px;

}
#box2 p:nth-child(2){
  margin-top: 10px;

}

#box1 p:nth-child(4){
  font-size: 12px;

}
#box2 p:nth-child(4){
  font-size: 12px;
}
#box1 p{
  margin-left: 10px;
}
#box2 p{
  margin-left: 10px;
}
#box2 img{
  height: 30px;
  width: 30px;
  margin-top: 40px;
  margin-left: 10px;

 
}
.design{
height: 400px;
width: 100%;
background-color: pink;

margin-top: 430px;


}

#service{
  background-color: green;
  height: 200px;
  margin-left: 130px;
  margin-top: -90px;
}
#service p:nth-child(1){
  color: red;
  text-align: center;
  padding: 10px;

}
#service p:nth-child(2){
  text-align: center;
  font-weight: bold;
  font-size: 36px;
}
#service p:nth-child(2) span{
  color: red;
}
#service p:nth-child(3){
  text-align: center;
  margin: 0px 192px;
  font-size: 12px;
}

.main-4{
  background-color: red;
  height: 250px;
}
#strategy{
  background-color: red;
  height: 400px;
  margin-left: 130px;

}
#marketing{
  background-color: green;
  height: 400px;
}
#technology{
  background-color: yellow;
  height: 250px;
}
#strategy img{
margin: 0px 100px;

}
#strategy p{
  text-align: center;
}
#strategy p:nth-child(3){
  font-size: 12px;
}
.paragraph{
  font-size: 12px;
}
#marketing img{
  margin: 0px 100px;

}
.stra{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}



